################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/scenare.txt
/mydata/BASIC/2019
/test
/mydata/BASIC/2015
/testData/29207156
/alldata
/__pychache__
/gui_xml_files/__pychache__
/db export
/model.pdf
