################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/scenare.txt
/mydata/BASIC/2019
/test
